@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-12">
            <h1>Donor Gateway Administration</h1>
            <p class="lead">This is your gateway to manage Events, Aquisitions and Donor Tax Information</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Getting started</h2>
            <p>
                Choose from one of the menu options from the top of the page to access the desired area of work.     
            </p>            
    </div>

</div>