<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://donorgateway.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>donorgateway.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DonorGateway</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$DonorGateway</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=splc.database.windows.net;Initial Catalog=DonorGateway;Persist Security Info=True;User ID=splcdbmanager;Password=TzUF4Fjh" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DonorGateway.Data.DataContext, DonorGateway.Data" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <EnableADPublish>true</EnableADPublish>
    <ADDomain>splcenter.org</ADDomain>
    <ADDirectoryAccessLevel>1</ADDirectoryAccessLevel>
    <ADAppIDUri>https://splcenter.org/WebApp-donorgateway.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADUsesOwinOrOpenIdConnect>true</ADUsesOwinOrOpenIdConnect>
    <ADClientAPPID>02307a01-007e-4deb-ba44-5e604dff7845</ADClientAPPID>
    <ADClientPassword>rSYhXNHrhiNbuEFum8XbiwRgecmcC0uwIuAYYEfUKTY=</ADClientPassword>
    <ADReplyUrl>https://donorgateway.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>ffb63644-2219-46e0-9edd-cad35ce33520</ADTenantId>
    <ADPostLogoutRedirectUri>https://donorgateway.azurewebsites.net/</ADPostLogoutRedirectUri>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=splc.database.windows.net;Initial Catalog=DonorGateway;Persist Security Info=True;User ID=splcdbmanager;Password=TzUF4Fjh</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=splc.database.windows.net;Initial Catalog=DonorGateway;Persist Security Info=True;User ID=splcdbmanager;Password=TzUF4Fjh</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=splc.database.windows.net;Initial Catalog=DonorGateway;Persist Security Info=True;User ID=splcdbmanager;Password=TzUF4Fjh</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=splc.database.windows.net;Initial Catalog=DonorGateway;Persist Security Info=True;User ID=splcdbmanager;Password=TzUF4Fjh</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>data source=splc.database.windows.net;initial catalog=DonorGateway;persist security info=True;user id=splcdbmanager;password=TzUF4Fjh;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>