<form name="form" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">
            {{$ctrl.title}}
        </h3>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <label class="control-label">
                Initiative
            </label>
            <input type="text" ng-model="$ctrl.event.initiative" name="initiative" class="form-control" placeholder="New initiative..." ng-required="true" />
            <div ng-messages="form.initiative.$error" class="error-messages" ng-show="form.initiative.$invalid">
                <div ng-message="required">Required</div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">
                Name - Url
            </label>
            <input type="text" ng-model="$ctrl.event.nameUrl" name="nameUrl" class="form-control" placeholder="New Event Url..." ng-required="true" />
            <div ng-messages="form.nameUrl.$error" class="error-messages" ng-show="form.nameUrl.$invalid">
                <div ng-message="required">Required</div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">
                Display Name
            </label>
            <input type="text" ng-model="$ctrl.event.displayName" name="displayName" class="form-control" placeholder="New Event Display Name..." ng-required="true" />
            <div ng-messages="form.displayName.$error" class="error-messages" ng-show="form.displayName.$invalid">
                <div ng-message="required">Required</div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">
                Venue
            </label>
            <input type="text" class="form-control" name="venue" ng-model="$ctrl.event.venue" placeholder="Venue"
                   minlength="2"
                   maxlength="50"
                   required />
            <div ng-messages="form.venue.$error" class="error-messages" ng-messages-multiple ng-show="form.venue.$invalid">
                <div ng-message="required">Required</div>
                <div ng-message="minlength">Too Short</div>
                <div ng-message="maxlength">Too Long</div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">
                Event Start Date/Time
            </label>
            <div class="dropdown">
                <a href="" class="dropdown-toggle start-toggle-select" role="button" data-toggle="dropdown" data-target="#">
                    <div class="input-group">
                        <input type="datetime" class="form-control" ng-model="$ctrl.event.startDate" name="startDate"
                               required
                               date-input="{{$ctrl.dateFormat}}"
                               datepicker-config="$ctrl.dateOptions" />
                        <span class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </span>
                    </div>
                </a>
                <div ng-messages="form.startDate.$error" class="error-messages" ng-messages-multiple ng-show="form.startDate.$invalid">
                    <div ng-message="required">Required</div>
                </div>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="$ctrl.event.startDate"
                                    ui-date="{ dateFormat: 'MM/DD/YYYY h:mma' }"
                                    data-datetimepicker-config="{ dropdownSelector: '.start-toggle-select' }"></datetimepicker>
                </ul>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">
                Event End Date/Time
            </label>
            <div class="dropdown">
                <a href="" class="dropdown-toggle end-toggle-select" role="button" data-toggle="dropdown" data-target="#">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="$ctrl.event.endDate" name="endDate"
                               required
                               date-input="{{$ctrl.dateFormat}}"
                               datepicker-config="$ctrl.dateOptions" />
                        <span class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </span>
                    </div>
                </a>
                <div ng-messages="form.endDate.$error" class="error-messages" ng-messages-multiple ng-show="form.endDate.$invalid">
                    <div ng-message="required">Required</div>
                </div>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="$ctrl.event.endDate"
                                    ui-date="{ dateFormat: 'MM/DD/YYYY h:mma' }"
                                    data-datetimepicker-config="{ dropdownSelector: '.end-toggle-select' }"></datetimepicker>
                </ul>
            </div>

        </div>

    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="$ctrl.save()" ng-disabled="form.$pristine || form.$invalid || $ctrl.isSaving" ng-enabled="form.$dirty && !form.$invalid">
            Create
        </button>
        <button class="btn btn-default pull-left" ng-click="$ctrl.cancel()">
            Cancel
        </button>
    </div>

    <div class="row">
        <div class="col-md-12">
            <pre>{{ form | json }}</pre>
        </div>
    </div>

</form>
